.content {
  overflow: hidden;
  margin: 8px;
}
.img {
  height: 100%;
  width: 100%;
  object-fit: fill;
  // box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;
  border: 1px groove rgba(0, 0, 0, 0.35);
  border-radius: 16px;
}
.detail {
  height: 84px;
  width: 100%;

  span {
    text-align: right;
  }
}
