.wishlist-container {
  overflow-y: overlay;
  height: 600px;
  background: #faf7f0;
  border: 1px solid rgb(204, 204, 204);

  &::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(168, 168, 168, 0.9);
  }
  &::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(255, 255, 255, 0);
  }

  :last-child {
    margin-bottom: 0px !important;
  }
}

.wishlist-item {
  min-height: 200px;
  height: auto;
  width: 100%;
  margin-bottom: 16px !important;
  background: #cfe9f3;
  border-right: 8px solid rgba(0, 0, 0, 0.2);
  border-left: 8px solid rgba(0, 0, 0, 0.2);
  border-top: 8px solid rgba(0, 0, 0, 0.1);
  border-bottom: 8px solid rgba(0, 0, 0, 0.1);
}
.img {
  height: 184px;
  width: 100%;

  img {
    height: 184px;
    width: 100%;
    object-fit: cover;
  }
}
.wishlist-item-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  .title {
    font-size: 24px;
  }
  .text {
    margin-left: 32px;
    text-align: left;
  }
}
.remove-btn {
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  &:hover {
    color: rgb(255, 0, 0);
  }
}
.wishlist-item-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  button {
    width: 180px;
    margin-top: 16px;
  }
}
