.header {
  border-bottom: 2px solid transparent;
  user-select: none;

  span {
    padding: 0 32px;
    line-height: 48px;
    text-transform: capitalize;
    opacity: 0.5;
  }

  &:hover {
    span {
      opacity: 1;
    }
  }
}

.active {
  border-bottom: 2px solid #000;
  span {
    opacity: 1;
  }
}
