.container {
  margin-bottom: 32px !important;
  background: #cfe9f3;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.header {
  border-bottom: 2px solid transparent;
  user-select: none;

  span {
    padding: 0 32px;
    line-height: 48px;
    text-transform: capitalize;
    opacity: 0.5;
  }

  &:hover {
    span {
      opacity: 1;
    }
  }
}

.active {
  border-bottom: 4px solid #000;
  span {
    opacity: 1;
  }
}
