.wrapper {
  padding-bottom: 32px !important;
  margin-bottom: 64px !important;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
  background: #faf7f0;
}

.container {
  padding: 0 32px !important;
  height: auto;
  min-height: 200px;
}
