.cart-container {
  overflow-y: overlay;
  height: 480px;
  background: #faf7f0;
  border: 1px solid rgb(204, 204, 204);

  &::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(168, 168, 168, 0.9);
  }
  &::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(255, 255, 255, 0);
  }

  :last-child {
    margin-bottom: 0px !important;
  }
}

.cart-item {
  height: 160px;
  width: 100%;
  margin-bottom: 16px !important;
  background: #cfe9f3;
  border-right: 8px solid rgba(0, 0, 0, 0.2);
  border-left: 8px solid rgba(0, 0, 0, 0.2);
  border-top: 8px solid rgba(0, 0, 0, 0.1);
  border-bottom: 8px solid rgba(0, 0, 0, 0.1);
}
.img {
  height: 144px;
  width: 100%;

  img {
    height: 144px;
    width: 100%;
    object-fit: cover;
  }
}
.cart-item-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  :first-child {
    font-size: 24px;
  }
  span {
    margin-left: 32px;
    text-align: left;
  }
}
.remove-btn {
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  &:hover {
    color: rgb(255, 0, 0);
  }
}
.cart-item-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-total-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  span {
    text-align: left;
    margin: 0 16px;
    font-weight: normal;
  }

  hr {
    background: #000;
  }
}
strong {
  font-size: 24px;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  margin: 16px;
}
