.wrapper {
  margin-bottom: 32px !important;
}
.container {
  display: flex;
  align-content: flex-start;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  h5 {
    display: inline-block;
    margin-left: 16px;
    text-transform: uppercase;
    font-size: 20px;
  }
  button {
    margin-right: 16px;
    min-width: 0;
    width: auto;
    text-transform: uppercase;
    color: #000;
    border: 1px solid #000;
    border-radius: 0px;

    &:hover {
      border: 1px solid #000;
      background: rgba(56, 56, 56, 0.35);
    }
  }
}

.content {
  margin: 8px;
  height: 160px;
  width: 100%;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 3px;
  display: flex;
  align-items: center;
  position: relative;
  &:hover > .detail {
    height: 80px;
    background: rgba(255, 255, 255, 0.9);
  }

  span {
    margin: 0 8px;
    text-align: left;
  }
}
.img {
  height: 160px;
  width: 100%;
  object-fit: fill;
  box-shadow: rgba(0, 0, 0, 0.35) 3px 5px 3px;
}
.detail {
  height: 24px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.5);
  transition: ease 1s;

  :first-child {
    font-size: 16px;
  }
  span {
    text-align: left;
  }
}
