.wrapper {
  background-color: #171a21;
  color: #fff;
  position: static;
  bottom: 0;
}
.container {
  padding: 1rem 0 !important;
}
.social-container {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  a {
    display: block;
    height: 32px;
    width: 32px;
    margin-right: 2px;
    svg {
      font-size: 1.6rem;
      color: #fff;

      &:hover {
        color: #2374e1;
      }
    }
  }
}
.link-container {
  a {
    display: inline;
    color: #fff;
    text-decoration: none;
    text-align: center;
    &:hover {
      color: #2374e1;
    }
  }
}

hr {
  background: rgb(255 255 255 / 12%);
}
