.wrapper {
  height: 80px;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  a {
    height: 64px;
  }

  img {
    height: 64px;
  }
}
.navbar-items {
  height: 100%;
  flex-grow: 1;

  a {
    display: block;
    line-height: 76px;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.2rem;
    border-radius: 8px;
    border-bottom: 4px solid transparent;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    &:hover {
      background-color: #aad4ff;
    }
  }
}
.active {
  border-bottom: 4px solid #2374e1 !important;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  color: #2374e1 !important;
}

.action {
  height: 100%;
  justify-content: center;
  align-items: center;

  :last-child {
    div {
      height: 56px;
      width: 56px;
    }
  }
}
.action-btn {
  margin: 0 8px !important;
}

.responsive-btn {
  height: 80px;
  width: 60px;
  min-width: 0;
  svg {
    color: #000;
    font-size: 2rem;
    border-radius: 0%;
  }
}
