.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8px 16px 16px 16px;
  width: 100%;
  p {
    font-weight: bold;
  }
}
.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.btn-container {
  margin: 0 8px;
  display: flex;
  align-items: center;
}

.btn {
  display: flex;

  svg {
    align-self: center;
    color: orange;
    font-size: 32px;
  }
}

.rating-btn {
  align-self: flex-start;
  margin-top: 16px !important;
}

.comment-container {
  margin: 32px 0;
}
.comment {
  margin: 16px 0;
  padding: 16px 0;
  border: 4px solid rgba(204, 204, 204, 1);
  // box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.3);
  background: #fff;
  > p {
    text-align: left;
    margin-left: 40px;
    font-size: 18px;
  }
}
.user-detail {
  display: flex;
  flex-direction: row;
  align-items: center;

  img {
    height: 56px;
    width: 56px;
    border-radius: 50%;
    margin-left: 40px;
  }

  span {
    margin: 0 16px;
  }
}
