.wrapper {
  height: auto !important;
  margin: 64px 0 !important;
  background: #cafeda;
  border-radius: 32px;
  border: 4px solid rgba(0, 0, 0, 0.1);
  box-shadow: rgba(0, 0, 0, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px !important;
  img {
    border: 2px solid #000;
    height: 320px;
    width: 320px;
    border-radius: 50%;
  }
}

.content {
  padding: 32px !important;
  display: flex;
  flex-direction: column !important;
  justify-content: center;
  h5 {
    text-align: center;
    text-transform: uppercase;
    font-size: 28px;
  }
}

.line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 4px 0;
  span {
    font-size: 18px;
  }
  :first-child {
    text-transform: uppercase;
  }
}

.social-container {
  display: flex;
  justify-content: flex-end;
  a {
    margin: 8px;
    svg {
      font-size: 32px;
      color: #000;
    }
  }

  :last-child {
    margin-right: 0;
  }
}
